
.nav-bar-bg {
  border-bottom: 1px lightgrey solid;
  background: #FFFFFF;
}

.nav-bar {
  display: flex;
  height: 25px;
  max-width: 970px;
  padding: 26px 20px;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-bar div:first-of-type{
  display: flex;
}

.nav-bar h1 {
  font-family: 'Cookie', cursive;
  font-size: 36px;
  margin-top: 0;
  padding-left: 15px;
}

.nav-bar input {
  width: 177px;
  height: 20px;
  background: #FAFAFA;
  color: #262626;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  padding: 3px 18px 3px 18px;
  margin-left: 16px;
}

.logo span {
  height: 36px;
  color: black;
  padding-right: 15px;
  border-right: 1px black solid;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 132px;
  padding-left: 20px; 
}

.nav-menu a {
  color: black;
}

.nav-bar button {
  background: #3897F0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold; 
  border-radius: 4px;
  border: 1px solid transparent;
  height: 30px;
  padding: 5px 9px;
}

.nav-button {
  display: flex;
  justify-content: space-evenly;
  width: 166px;
}

.nav-button a:last-child button {
  background: white;
  color: #3897F0;
}


