
.nav-bar-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px lightgrey solid;
  background: #FFFFFF;
}

.nav-bar {
  display: flex;
  height: 25px;
  max-width: 970px;
  padding: 26px 20px;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-bar h1 {
  font-family: 'Cookie', cursive;
  font-size: 36px;
  margin-top: 0;
  padding-left: 15px;
}

.nav-bar input {
  width: 177px;
  height: 20px;
  background: #FAFAFA;
  color: #262626;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  padding: 3px 18px 3px 18px;
  margin-left: 16px;
}

.logo {
  display: flex;
}

.logo span {
  height: 36px;
  color: black;
  padding-right: 15px;
  border-right: 1px black solid;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 132px;
  padding-left: 20px; 
}

.nav-menu a {
  color: black;
}

.nav-bar button {
  background: #3897F0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold; 
  border-radius: 4px;
  border: 1px solid transparent;
  height: 30px;
  padding: 5px 9px;
}

.nav-button {
  display: flex;
  justify-content: space-evenly;
  width: 166px;
}

.nav-button a:last-child button {
  background: white;
  color: #3897F0;
}

.search-main {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
}

.search-main input {
  position: relative;
  z-index: 2;
}

.search-main ul {
  position: absolute;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
  width: 243px;
  max-height: 362px;
  top: 63px;
  background: #FFFFFF;
  left: 50%;
  transform: translate(-44%);
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-main li {
  padding: 8px 14px;
  border-bottom: 1px solid #e6e6e6;
}

.search-main a {
  display: flex;
  align-items: center;
}

.search-main img {
  margin-right: 10px;
}

.search-overlay {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0; 
  background-color:transparent;
  overflow-x: hidden; 
}

