
.session-form {
  text-align: center;
  width: 350px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background: #FFFFFF;
  margin: 15px auto 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999999;
}

.session-form > form > p {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: #999999;
  border-bottom: 1px lightgrey solid;
  padding-bottom: 20px;
  margin: 0;
}

.session-form form {
  width: 270px;
  margin: 0 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.session-form input {
  font-size: 14px;
  height: 36px;
  border: 1px solid #efefef;
  border-radius: 3px;
  background: #FAFAFA;
  padding: 9px 0 7px 8px;
  margin: 0 0 6px;
}

.session-form input:first-child {
  margin-top: 10px;
}

.session-form h1 {
  font-family: 'Cookie', cursive;
  color: black;
  font-size: 55px;
  margin: 22px auto 12px;
}

.session-form button {
  background: #3897F0;
  width: 270px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold; 
  border-radius: 4px;
  border: 1px solid transparent;
  height: 30px;
  padding: 5px 9px;
  margin: 10px 0;
}

.input-field p {
  font-size: 14px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
  height: 54px;
  line-height: 20px;
}

.session-form div:last-child p {
  font-size: 14px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
  height: 30px;
  line-height: 20px;
}

.session-form:last-child a {
  color: #3897F0;
}

#demo {
  width: 180px;
}

#demo:hover {
  cursor: pointer;
}

#errors {
  margin: 0 0;
}